* {
    margin: 0;
    padding: 0;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#app,
body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: Roboto, sans-serif !important;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: #409EFF;
}

ul {
    list-style: none;
    margin-bottom: 0;
}

i {
    font-style: normal;
    color: #000000;
}

#app {
    font-family: Roboto, sans-serif !important;
    color: #2c3e50;
}

body::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

body::-webkit-scrollbar-track {
    border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(144, 147, 153, .3);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgba(144, 147, 153, .7);
    ;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 2px;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: rgba(144, 147, 153, .3);
    border-radius: 10px;
}

.center {
    text-align: center;
}

.el-menu.el-menu--horizontal {
    border: none;
}

.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1500;
    background: #fff
}

[class*=" el-icon-"],
[class^=el-icon-] {
    vertical-align: middle;
}

.title {
    font-size: 20px !important;
    font-weight: 500;
    letter-spacing: 0.0125em !important;
    cursor: pointer;
    padding: 8px;
    border-radius: 2px;
    text-indent: 0.0125em;
    /* text-transform: uppercase; */
}

.flex_between {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.el-menu--horizontal>.el-menu-item.is-active {
    border-bottom: 2px solid #000000;
}

.el-button--primary,
.el-button--primary:focus,
.el-button--primary.is-disabled,
.el-button--primary.is-disabled:active,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:hover {
    color: #FFF;
    background-color: #000000;
    border-color: #000000;
}

.el-button--primary:hover {
    color: #FFF;
    background-color: #000000;
    border-color: #000000;
    opacity: .7;
}

.el-switch__label.is-active {
    color: #000000;
}

.el-card.is-always-shadow,
.el-card.is-hover-shadow:focus,
.el-card.is-hover-shadow:hover {
    box-shadow: 10px 10px 10px #d0d0d0, -10px -10px 10px #fff
}

.el-card {
    background-color: #f5f5f5;
    border-radius: 15px;
    border: none;
    box-shadow: 10px 10px 10px #d0d0d0, -10px -10px 10px #fff
}

.shadow {
    -webkit-box-shadow: 10px 10px 10px #d0d0d0, -10px -10px 10px #fff;
    box-shadow: 10px 10px 10px #d0d0d0, -10px -10px 10px #fff;
}

.el-card__body {
    padding: 10px;
}

.text_left {
    text-align: left;
}

.margin10 {
    margin: 10px 0;
}

.el-drawer.ltr {
    background: #000000;
    width: 60% !important;
}




.el-carousel__item {
    border-radius: 10px;
}

.read {
    position: absolute;
    color: #fff;
    z-index: 99;
    bottom: 20px;
    text-align: left;
}

.bgImage {
    width: 100%;
    max-width: 100%;
    background-position: center center;
    background-size: cover;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.bgImage1 {
    width: 100%;
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}


/* .right_model:nth-child(2n) {
    margin: 10px 0;
} */

.tags_box {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tags {
    margin: 5px 10px;
    border-radius: 4px;
    display: inline-block;
    height: 100%;
    background: #e0e0e0;
    color: #000000;
    padding: 6px;
    cursor: pointer;
}

.tags:hover,
.essays:hover {
    opacity: 0.8;
}

.bgImage:hover,
.bgImage1:hover {
    transform: scale(1.1);
}

.essays {
    padding: 6px;
    border: 1px solid #e0e0e0;
    margin: 20px;
    text-align: left;
    font-size: 14px;
    border-radius: 6px;
    color: #000000;
    cursor: pointer;
    position: relative;
    background: #f7f7f7;
}

.essays::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: -10px;
    top: 20px;
    border-top: 8px solid transparent;
    border-right: 10px solid #e0e0e0;
    border-bottom: 8px solid transparent;
}

.essays:nth-child(2n + 1) {
    background: #e0e0e0;
}

.article_list {
    height: 100%;
}

.article_li_list {
    height: 100%;
    border-radius: 10px;
    background: #f5f5f5;
    box-shadow: 10px 10px 10px #d0d0d0, -10px -10px 10px #fff;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.text_box {
    padding: 10px;
}

.text_clamp {
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: 14px;
    color: #666;
    margin-bottom: 14px;
    padding-right: 10px;
    text-align: left;
}

.ab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.personal_message_list {
    margin: 10px;
}

.personal_message_list_li {
    text-align: center;
    width: 33%;
}

.personal_message_list_li p:first-child {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    text-indent: 0.0125em;
}

.personal_message_list_li p:last-child {
    font-size: 16px;
    text-indent: 0.00125em;
    font-weight: 600;
}

.el-pager li,
.el-pagination .btn-next,
.el-pagination .btn-prev {
    background-color: #f5f5f5 !important;
    color: #99a9bf;
}

.el-pagination .btn-next .el-icon,
.el-pagination .btn-prev .el-icon {
    font-size: 20px;
    color: #99a9bf;
}

.el-pagination .btn-next .el-icon:hover,
.el-pagination .btn-prev .el-icon:hover,
.el-pager li:hover {
    color: #000000;
    cursor: pointer
}

.el-pagination button,
.el-pagination span:not([class*=suffix]) {
    font-size: 14px;
    font-weight: 500;
    color: #99a9bf;
    font-family: Roboto, sans-serif !important;
}

.el-pager li.active {
    background: #777 !important;
    border-radius: 50%;
    padding: 0;
    width: 26px;
    height: 26px;
    min-width: 26px;
    border-radius: 15px;
    line-height: 26px;
    color: #fff;
}

.personal_left {
    height: 100%;
    position: fixed;
    width: 40%;
    left: 0;
    top: 0;
}

.personal_right {
    position: relative;
    left: 40%;
    width: 60%;
    background: #f5f5f5;
}

.personal_box {
    position: absolute;
    right: 15%;
    top: 15%;
    color: #fff;
    padding: 20px 0;
    text-align: right;
}

.text_right {
    text-align: right;
    padding: 5px 0;
}

.essay_li {
    width: 25%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
    cursor: pointer;
}

.essay_div {
    padding: 10px;
    margin: 0 20px;
    width: 100%;
    height: 100%;
    transform: rotate(-10deg);
    position: relative;
    color: #333;
    background: #f5f5f5;
    text-align: left;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all 1s;
    /* margin: 0 auto; */
}

.essay_li:nth-child(even) .essay_div {
    transform: rotate(10deg);
    background: #b9b8cc;
    color: #fff;
}

.essay_li:nth-child(3n) .essay_div {
    transform: rotate(-10deg);
    background: rgb(255, 255, 205);
    color: #333;
}

.essay_li:nth-child(5n) .essay_div {
    transform: rotate(-10deg);
    background: #1a1d53;
    color: #fff;
}

.essay_li:nth-child(2n) .essay_div:hover,
.essay_li:nth-child(3n) .essay_div:hover,
.essay_li:nth-child(5n) .essay_div:hover,
.essay_div:hover {
    transform: rotate(0deg) scale(1.1);
}

.el-dialog {
    width: 20%;
}

@media screen and (max-width: 768px) {
    .personal_left {
        position: static;
        width: 100%;
        text-align: center;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .text_right {
        text-align: center;
        padding: 5px 0;
    }

    .personal_box {
        position: static;
        right: 15%;
        top: 15%;
        color: #fff;
        text-align: center;
    }

    .personal_right {
        width: 100%;
        left: 0;
    }

    .essay_li {
        width: 100%;
    }

    .el-dialog {
        width: 100%;
        margin-top: 0vh !important;
        height: 100%;
    }

    .el-dialog__wrapper {
        height: 100%;
        overflow: hidden;
    }

    body {
        overflow: hidden;
    }
}

@media(min-width:960px) {

    .content,
    .contents {
        margin: 0 auto;
        max-width: 900px
    }


    .essay_li {
        width: 30%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 30px 0;
        cursor: pointer;
    }

    .el-drawer.ltr {
        background: #000000;
        width: 40% !important;
    }
}

@media(min-width:768px) {


    .essay_li {
        width: 40%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 30px 10px;
        cursor: pointer;
    }

    .content,
    .contents {
        margin: 0 auto;
        max-width: 900px
    }

    .el-drawer.ltr {
        background: #000000;
        width: 30% !important;
    }
}

@media(min-width:1264px) {

    .essay_li {
        width: 30%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 30px 0;
        cursor: pointer;
    }

    .content,
    .contents {
        margin: 0 auto;
        max-width: 1185px
    }
}

@media(min-width:1904px) {

    .content,
    .contents {
        margin: 0 auto;
        max-width: 1785px
    }
}

.icon_menu {
    width: 50px;
    text-align: center;
    cursor: pointer;
}

.height {
    height: 50px;
    line-height: 50px;
}

.el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.preview figure {
    float: left;
    width: 30%;
    height: calc(30vw - 0px);
    margin: 1.5%;
}

.preview figure img {
    width: 100%;
}

.header {
    width: 100%;
    top: 0;
    z-index: 9;
    background: #ffff;
    position: fixed;
}

.row {
    position: relative;
    width: 100%;
    height: 60px;
    /* no */
    text-align: center;
    height: 100%;
    margin: 0 auto;
}

.el-menu--horizontal>.el-menu-item {
    height: 50px;
    line-height: 50px;
}

.el-menu,
.el-menu-item {
    height: 100%;
    border-right: none;
}

.menu_list .el-menu {
    margin: 10px;
    background: #171719;
    border-radius: 15px;
    padding: 10px;
}

.menu_list .el-menu .el-menu-item {
    color: #b9b8cc;
}

.menu_list .el-menu .el-menu-item.is-active,
.menu_list .el-menu .el-menu-item:focus,
.menu_list .el-menu .el-menu-item.is-active:focus {
    background: #171719;
    color: #fff;
}

.el-menu-top {
    display: flex;
    justify-content: flex-end;
}

.title:hover {
    /* background: #f7f7f7; */
}



.v-note-show {
    border: none !important;
}

.v-note-wrapper {
    border-radius: 10px !important;
    box-shadow: 10px 10px 10px #d0d0d0, -10px -10px 10px #fff !important;
}

.v-note-op {
    border-bottom: 1px solid #dddd !important;
}

.v-note-op,
.v-note-panel,
.content-input-wrapper,
.auto-textarea-wrapper,
.auto-textarea-input {
    background: #f5f5f5 !important;
}

.v-note-wrapper {
    position: static !important;
}

.el-divider--horizontal {
    margin: 0;
    background: #dddd;
}

.el-dialog__body {
    padding: 10px;
}

.el-dialog {
    border-radius: 2px;
}

.el-form-item__label {
    float: none;
    display: block;
    width: 60px !important;
    line-height: 1;
    text-align: left;
}

.content {
    margin-top: 60px;
}
.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover{
    background: #d0d0d0;
    color: #000000;
}