* {
    margin: 0;
    padding: 0;
}

*,
 :after,
 :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#app,
body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: Roboto, sans-serif!important;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: #409EFF;
}

ul {
    list-style: none;
    margin-bottom: 0;
}

i {
    font-style: normal;
    color: #409EFF;
}

#app {
    font-family: Roboto, sans-serif!important;
    color: #2c3e50;
    user-select: none;
}

body::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

body::-webkit-scrollbar-track {
    border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(144, 147, 153, .3);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgba(144, 147, 153, .7);
    ;
}

 ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

 ::-webkit-scrollbar-track {
    border-radius: 2px;
    width: 7px;
}

 ::-webkit-scrollbar-thumb {
    background: rgba(144, 147, 153, .3);
    border-radius: 10px;
}

.center {
    text-align: center;
}

.el-menu.el-menu--horizontal {
    border: none;
}

.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1500;
    background: #fff
}

[class*=" el-icon-"],
[class^=el-icon-] {
    vertical-align: middle;
}

.title {
    font-size: 20px !important;
    font-weight: 500;
    letter-spacing: 0.0125em !important;
    cursor: pointer;
    padding: 8px;
    border-radius: 2px;
    text-indent: 0.0892857143em;
    text-transform: uppercase;
}

.flex_between {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.el-menu--horizontal>.el-menu-item.is-active {
    border-bottom: 2px solid #000000;
}

.el-button--primary,
.el-button--primary:focus,
.el-button--primary.is-disabled,
.el-button--primary.is-disabled:active,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:hover {
    color: #FFF;
    background-color: #000000;
    border-color: #000000;
}

.el-button--primary:hover {
    color: #FFF;
    background-color: #000000;
    border-color: #000000;
    opacity: .7;
}

.el-switch__label.is-active {
    color: #000;
}

.el-card {
    border-radius: 10px;
}

.el-card__body {
    padding: 10px;
}

.text_left {
    text-align: left;
}

.margin10 {
    margin: 10px 0;
}

.content {
    margin: 0 auto;
    margin-top: 60px;
}

@media(min-width:960px) {
    .content {
        max-width: 900px
    }
}

@media(min-width:1264px) {
    .content {
        max-width: 1185px
    }
}

@media(min-width:1904px) {
    .content {
        max-width: 1785px
    }
}